infra/n8n/workflow_exports/dynamic_email_template_sender.json
{
  "name": "Dynamic Email Template Sender with Variable Substitution",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "email_send",
        "authentication": "headerAuth",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "node-webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "webhookId": "REPLACE_WITH_YOUR_WEBHOOK_ID",
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "EMAIL SECRET (map on import)"
        }
      }
    },
    {
      "parameters": {
        "includeOtherFields": true,
        "options": {}
      },
      "id": "node-workflow-configuration",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const template  = item.json.template  || item.json.body?.template  || {};\n  const variables = item.json.variables || item.json.body?.variables || {};\n  \n  \n  // Function to replace variables in a string\n  const replaceVariables = (text) => {\n    if (typeof text !== 'string') return text;\n    return text.replace(/\\{\\{\\s*([^}]+)\\s*\\}\\}/g, (match, key) => {\n      const trimmedKey = key.trim();\n      return variables[trimmedKey] !== undefined ? variables[trimmedKey] : match;\n    });\n  };\n  \n  // Process template fields\n  const processedEmail = {\n    to: replaceVariables(template.to || variables.to || ''),\n    cc: replaceVariables(template.cc || variables.cc || ''),\n    bcc: replaceVariables(template.bcc || variables.bcc || ''),\n    subject: replaceVariables(template.subject || ''),\n    body: replaceVariables(template.body || ''),\n    isHtml: template.isHtml !== undefined ? template.isHtml : true\n  };\n  \n  results.push({\n    json: processedEmail\n  });\n}\n\nreturn results;"
      },
      "id": "node-process-template",
      "name": "Process Template with Variables",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.body }}",
        "options": {
          "appendAttribution": false,
          "bccList": "={{ $json.bcc }}",
          "ccList": "={{ $json.cc }}"
        }
      },
      "id": "node-send-email",
      "name": "Send Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        672,
        0
      ],
      "webhookId": "REPLACE_WITH_YOUR_WEBHOOK_ID",
      "credentials": {
        "gmailOAuth2": {
          "id": "",
          "name": "Gmail account (map on import)"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Process Template with Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Template with Variables": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "nodeGroups": [],
  "tags": []
}
