workflows/Dynamic Email Template Sender with Variable Substitution (3).json
{
  "name": "Dynamic Email Template Sender with Variable Substitution",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "email_send",
        "authentication": "headerAuth",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "68756509-4b44-4801-9c7c-e18d2eed17b3",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "webhookId": "d966f1b9-1974-4260-a7bc-ca9fa2b3183c",
      "credentials": {
        "httpHeaderAuth": {
          "id": "XY9E9BGBpvZMLC6c",
          "name": "EMAIL SECRET"
        }
      }
    },
    {
      "parameters": {
        "includeOtherFields": true,
        "options": {}
      },
      "id": "7f667e0c-9327-4780-93b4-52ecec78a267",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const template  = item.json.template  || item.json.body?.template  || {};\n  const variables = item.json.variables || item.json.body?.variables || {};\n  \n  \n  // Function to replace variables in a string\n  const replaceVariables = (text) => {\n    if (typeof text !== 'string') return text;\n    return text.replace(/\\{\\{\\s*([^}]+)\\s*\\}\\}/g, (match, key) => {\n      const trimmedKey = key.trim();\n      return variables[trimmedKey] !== undefined ? variables[trimmedKey] : match;\n    });\n  };\n  \n  // Process template fields\n  const processedEmail = {\n    to: replaceVariables(template.to || variables.to || ''),\n    cc: replaceVariables(template.cc || variables.cc || ''),\n    bcc: replaceVariables(template.bcc || variables.bcc || ''),\n    subject: replaceVariables(template.subject || ''),\n    body: replaceVariables(template.body || ''),\n    isHtml: template.isHtml !== undefined ? template.isHtml : true\n  };\n  \n  results.push({\n    json: processedEmail\n  });\n}\n\nreturn results;"
      },
      "id": "3149c245-0adf-4d84-a25b-694f75b6c7ba",
      "name": "Process Template with Variables",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.body }}",
        "options": {
          "appendAttribution": false,
          "bccList": "={{ $json.bcc }}",
          "ccList": "={{ $json.cc }}"
        }
      },
      "id": "6d66a6e8-7dff-4bd9-81c3-ce3bbf7a79de",
      "name": "Send Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        672,
        0
      ],
      "webhookId": "74e99476-a10f-431a-812c-db2a725e16cd",
      "credentials": {
        "gmailOAuth2": {
          "id": "V6fuppSDb0R3m1qr",
          "name": "For Data Team Gmail account 19"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Process Template with Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Template with Variables": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "8b06a2e5-8f7e-4603-8c6a-9d166931f3d0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4ff5c4b0e12d4662cde1bfc25ba7978eed43409aed23a68dbd05215ea814a45e"
  },
  "nodeGroups": [],
  "id": "jw5fp06IqmHknITq",
  "tags": []
}